.c-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  border-bottom: 5px solid $color-darkblue;
  box-shadow: 0px -20px 40px 0.2px black;

  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 673px;
  }
  &__item {
    font-family: HelveticaNeuCondensedBold;
    color: $color-blue;
    font-size: 25px;
  }

  &__logo {
    max-width: 328px;
    width: 100%;
    padding-right: 362px;
  }

  &__nopad {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 1385px) {
  .c-nav {
    &__items {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 673px;
    }
    &__item {
      font-family: HelveticaNeuCondensedBold;
      color: $color-blue;
      font-size: 25px;
    }

    &__logo {
      max-width: 328px;
      width: 250px;
      padding-right: 5%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .c-nav {
    &__items {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: 673px;
    }
    &__item {
      font-family: HelveticaNeuCondensedBold;
      color: $color-blue;
      font-size: 22px;
    }

    &__logo {
      max-width: 328px;
      width: 200px;
      padding-right: 5%;
    }
  }
}
